<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ib.ganz.u_care">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".manager.AppManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="U-Care"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UCare"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.OtpActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.PendaftaranOrtuActivity"
            android:theme="@style/Theme.NoActionBar"></activity>
        <activity
            android:name=".activity.PendaftaranNakesActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.DaftarActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.NoActionBar"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ib.ganz.u_care.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"
                tools:replace="android:resource" />
        </provider>

        <service android:name=".manager.FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>